*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  height: 100vh;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  padding: 0 30px;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: end;
}

/* video start */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* video finish */

/* search start */

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  height: auto;
}

.search-form__fieldset {
  align-self: flex-start;
  border: 0;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  gap: 5px;
  align-items: center;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__label-text {
  vertical-align: middle;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
}

button:active,
.content__card-link:active {
  background-color: #545050;
}

button:hover,
.content__card-link:hover,
.search-form__label:hover {
  text-decoration: underline;
}

button:focus {
  outline: 1px solid white;
  outline-offset: -3px;
}

/* search finish  */

/* input start */

input {
  width: 224px;
  min-height: 27px;
  border: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
  outline: none;
  padding: 0;
}

input:focus,
input:focus-visible {
  outline: none;
}

/* input:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
} */

input:active {
  outline: 1px solid #fff;
}

input[type="checkbox"]:checked + span {
  width: 19px;
  height: 19px;
  background-color: #fff;
  outline: 1px solid black;
  outline-offset: -2px;
}

/* input finish */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: auto;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* content start  */

/* .content {
  height: 534px;
} */

.title {
  display: block;
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: auto;
  overflow-x: auto; /* скрыт нижний скрол */
  padding-top: 1px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-position: center;
  object-fit: cover;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: auto;
  height: auto;
}

.content__list-item {
  margin-bottom: 30px;
  /* padding: 0 1px; */
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  display: block;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.button {
  cursor: pointer;
  border: 1px solid currentColor;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  height: 34px;
  font-weight: 700;
}

.more-button {
  width: 100%;
}

button:active {
  background: #545050;
}

.content__video-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  overflow: hidden;
  max-width: 200px;
}

.content__card-link:focus {
  outline: none;
  border: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: -1px;
}

.content__card-link_current {
  background-color: #545050;
}

/* content finish  */
